div.container-fluid {
  background-color: cornflowerblue;
  min-height: 100vh;
  padding-bottom: 2rem;
  
}



.previewer-container {
  margin-top: 4.5rem;
  min-height: 59vh;
  margin-bottom: 3rem;
}

