div.container-fluid {
  background-color: cornflowerblue;
  min-height: 100vh;
  padding-bottom: 2rem;
  padding-top:1rem;
  
}




.previewer-container {
  margin-top: 2rem;
  min-height: 59vh;
  margin-bottom: 3rem;
}

