.editor-container {
  width: 30%;
  min-height: 15.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: relative;
  top: 5vh;
  border: 1px solid black;
  margin-bottom: 3.5rem;
  transition: height 0.3s ease-out, width 0.3s ease-out;
}

.editor-window-header {
  border: 1px solid black;
  margin: 0;
  padding: 0.1rem 0rem 0.1rem 1rem;
  font-weight: bold;
  background-color: rgba(63, 88, 133, 0.658);
  display: flex;
}

#editor {
  width: 100%;
  min-height: 15.5rem;
  height: 96.6%;
  vertical-align: top;
  overflow: auto;
  padding: 0;
  resize: vertical;
}

.editor-window-header .fa-arrows-alt {
  margin-left: 84.3%;
  margin-top: 0.2rem;
  color: rgba(0, 0, 0, 0.753);
  transition: transform 0.1s, margin-left 0.1s;
}

.editor-window-header .fa-arrows-alt:hover {
  transform: scale(1.2);
}
.editor-window-header .fa-compress {
  color: rgba(0, 0, 0, 0.753);
  transition: transform 0.1s, margin-left 0.1s;
  margin-left: 95%;
}

.editor-window-header .fa-compress:hover {
  transform: scale(0.7);
}

@media (max-width: 500px) {
  .editor-container {
    width: 90vw;
    height: 35%;
    margin: 0 auto;
  }

  #editor {
    height: 95.5%;
    width: 100%;
  }

  .editor-window-header .fa-arrows-alt {
    margin-left: 75.3%;
    transition: transform 0.1s, margin-left 0.1s;
  }

  .editor-window-header .fa-compress {
    margin-left: 76.7%;
    padding-top: 0.2rem;
  }

  .editor-window-header .fa-arrows-alt:active {
    transform: scale(1.2);
  }
}
